.navbar {
    display: flex;
    margin: auto !important;
    padding: auto !important;
    justify-content: center !important;
    align-items: center !important;
  

}

.nav-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    padding: auto !important;
  
    width: auto !important;

    /* height: 70px;
    margin-top: 70px;
    background-color: #fff; */
}

.links-container {
    width: 600px;
    display: flex;
    justify-content: center !important;

}

.left-links {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.4474px;
    gap: 41.79px;
    /* height: 41.79px; */
    /* left: 131.64px; */
    top: 51.19px;
    /* margin-left: 200px !important; */
}

.logo-text {

    /* left: 668.63px; */
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 29.2528px !important;
    
    line-height: 37px ;
    text-align: center;
    color: #000000;
     display: flex;
    justify-content: center;
}


.right-links {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.4474px;
    gap: 41.79px;
    /* height: 41.79px; */
    /* left: 131.64px; */
    
    /* margin-left: 200px !important; */
}

.links {
    font-style: normal;
    font-size: 16.7159px !important;
    line-height: 21px;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: #686C75;

}