.wcu-container {
    margin: auto;
    padding: auto;
    margin-top: 250px;
    margin-bottom: 250px;



}

.row-container {
    margin: auto;
    padding: auto;
    margin-top: 110px !important;

}

.col-container {
    justify-content: center !important;
    margin: auto;
}

.why-txt {
    width: 190.01px;
    height: 29.98px;
    left: 639.38px;
    top: 3827.94px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18.8054px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    justify-content: center !important;
    margin: auto;
    padding: auto;
    color: #FD5B2F;

}

.benefits-txt {
    width: 510.3px;
    font-family: var(--font-family);
    font-size: 52.2371px;
    text-align: center;
    color: #000000;
    margin: auto;
    padding: auto;

}

.wcu-icons {
    font-size: 50px;
    color: #FD5B2F;
    justify-content: center;
    text-align: center;


}

.header {
    height: 26.12px;
    top: 83.58px;
    font-family: var(--font-family);
    font-size: 20.8948px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  
   
}

.p-txt {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 12.5369px;
    line-height: 25px;
    text-align: center !important;
    justify-content: center !important;
    width: auto;
    color: #000000;
}